

.nav-tabs-users {
    margin-left: 2%;
}

.nav-tabs-users > .nav-item > .nav-link{
    text-align: center;
    background-color: none !important;
    color: #8B8B8B !important;
    margin-bottom: 5px !important;
    margin-right: 10% !important;
    border: none;
}

.nav-tabs-users > .nav-item > .active{
    background-color: rgba(243, 243, 243, 0.08) !important;
    color: black !important;
    font-weight: 700 !important;
    border: none;
    border-bottom: 4px solid #45E598;
}