
.TabCardUser {
    margin-top: 2%;
    text-align: center;
}

.userProfile {
    width: 50%;
    border-radius: 50%;
}

.deleteUser {
    background-color: #e66363;
    color: white;
    padding: 3.5% 5.5%;
    border-radius: 4px;
    border: none;
    justify-self: center;
}

.deleteUser:hover {
    background-color: #e24545;
}