
.LabPage {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 1% 1.5%;
}

.title {
    color: #9E9E9E;
    margin-left: 2%;
}

.selectionner {
    color: #5A6268;
    font-weight: 500;
}


