
.Footer {
    border-bottom: 1px solid #B4B4B4;
    padding: 6px 4px;
    margin-bottom: 4px;
}

.logo {
    border-radius: 10px;
}

.lien, .contact {
    color: #0A142F;
    font-size: medium;
}

.lien:hover {
    color: #0A142F !important;
}
