

.CourseCard {
    border-radius: 10px;
    background-color: white;
}

.colored {
    background-color: #0A81DE;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.title {
    color: #4C4C4C;
    padding: 6% 2%;
}