.UnderLineText {
    display: inline-block;
    border-bottom: 2px solid #343435;
    margin: 0.7em 0;
}

.UnderLineText > h5 {
    color: 343435;
    font-size: 2em;
    font-weight: bolder;
}

@media (max-width:800px) {
    .UnderLineText > h3 {
        font-size: 1.7em;
        font-weight: 500;
    }
}

@media (max-width:350px) {
    .UnderLineText > h3 {
        font-size: 1.5em;
        font-weight: 500;
    }
}